<ion-view title="Change Password">
<link href="css/settings.css" rel="stylesheet" type="text/css" />
<ion-nav-title><img src="css/img/logo-white.png" height="14px"></ion-nav-title>
<ion-content class="password-main text-center padding" scroll="false">
	<div class="padding">
		<div>Change Email</div>
		<small>We will send you an e-mail to confirm the address change.</small>
	</div>
	<div class="list padding-vertical no-margin"><div class="text-left"><b>E-mail:</b></div>
	  <label class="item item-input">
		<input type="password" placeholder="youremail.com">
	  </label>
	</div>
	<button class="button button-block button-calm no-margin" ui-sref="app.settings">Change Email</button>
</ion-content>
</ion-view>