<ion-view title="Settings">
<link href="css/settings.css" rel="stylesheet" type="text/css">
<ion-content>
	<div class="list">
		<div class="item" ui-sref="app.settingsProfile">Update Profile</div>
		<div class="item" ng-click="showChoseAPhoto()">Change Profile Picture</div>
		<div class="item" ui-sref="app.settingsPassword">Change Password</div>
		<div class="item" ui-sref="app.settingsEmail">Change Email Address</div>
		<div class="item" ui-sref="app.settingsPayment">Payment Settings</div>
		<div class="item" ng-click="deleteAccount()">Delete Account</div>
	</div>
</ion-content>
</ion-view>