<ion-view title="Change Password">
<link href="css/settings.css" rel="stylesheet" type="text/css" />
<ion-content class="password-main text-center padding" scroll="false">
	<div class="padding">
		<div>Login Email:</div>
		<b>youremail.com</b>
	</div>
	<div class="list padding-vertical no-margin">
	  <label class="item item-input">
		<input type="password" placeholder="Old Password">
	  </label>
	  <div class="padding-bottom margin-bottom">*Leave empty if you don't have a password</div>
	  <label class="item item-input">
		<input type="password" placeholder="New Password">
	  </label>
	</div>
	<button class="button button-block button-calm no-margin" ui-sref="app.settings">Change Password</button>
</ion-content>
</ion-view>