<ion-view title="Change Password">
<link href="css/settings.css" rel="stylesheet" type="text/css" />
<ion-nav-title><img src="css/img/logo-white.png" height="14px"></ion-nav-title>
<ion-content class="password-main text-left padding" scroll="false">
	<div class="padding text-center">Payment Settings</div>
	<small>
		<u><b>Shipping Details</b></u>
		<div class="padding">
			<div><b>Name: </b><span>Your Name</span></div>
			<div><b>Address: </b><span>Your Address</span></div>
			<div><b>City: </b><span>Your City</span></div>
			<div><b>State/Province: </b><span> None</span></div>
			<div><b>Zip/Postal Code: </b><span>123456</span></div>
			<div><b>Country: </b><span>Your Country</span></div>
		</div>
	</small>
	<button class="button button-block button-assertive no-margin" ng-click="deletePayment()">Delete</button>
</ion-content>
</ion-view>