<ion-slide-box class="height-100">
<ion-slide>
    <div class="item-share" ng-click="closePopupDetailShare()">
		<img class="margin-auto" src="img/detail/share/hangouts.png">Hangouts
	</div>
    <div class="item-share" ng-click="closePopupDetailShare()">
		<img class="margin-auto" src="img/detail/share/clipboard.png">Copy to clipboard
	</div>
    <div class="item-share" ng-click="closePopupDetailShare()">
		<img class="margin-auto" src="img/detail/share/bluetooth.png">Bluetooth
	</div>
    <div class="item-share" ng-click="closePopupDetailShare()">
		<img class="margin-auto" src="img/detail/share/gmail.png">Gmail
	</div>
    <div class="item-share" ng-click="closePopupDetailShare()">
		<img class="margin-auto" src="img/detail/share/mail.png">Mail
	</div>
    <div class="item-share" ng-click="closePopupDetailShare()">
		<img class="margin-auto" src="img/detail/share/wifi.png">Wi-Fi Direct
	</div>
</ion-slide>
<ion-slide>
    <div class="item-share" ng-click="closePopupDetailShare()">
		<img class="margin-auto" src="img/detail/share/twitter.png">Twitter
	</div>
    <div class="item-share" ng-click="closePopupDetailShare()">
		<img class="margin-auto" src="img/detail/share/drive.png">Save to Drive
	</div>
    <div class="item-share" ng-click="closePopupDetailShare()">
		<img class="margin-auto" src="img/detail/share/facebook.png">Facebook
	</div>
</ion-slide>
</ion-slide-box>