<ion-view title="Order History">
<link href="css/order.css" rel="stylesheet" type="text/css">
<ion-content class="order-detail padding stable-bg" ng-class="{'has-footer':orderDetail.pending}">
	<b>#{{orderDetail.id}}</b>
	<div class="card margin-top" ng-repeat="item in orderDetail.item">
	<div class="item item-thumbnail-left item-text-wrap">
		<img src="img/order/detail/{{item.id}}.jpg">
		<b>{{item.name}}</b>
		<p ng-show="item.size">Size: {{item.size}}</p>
		<p>Color: {{item.color}}</p>
		<p>Quantily: {{item.quantily}}</p>
		<div class="text-right">
			<i class="icon icon-tag stable"></i>
			<span class="assertive">{{item.price | currency}}</span>
		</div>
	</div>
	</div>
	<div class="card margin-top">
	<div class="item item-text-wrap order-detail-info">
		<div class="row row-no-padding padding-bottom">
			<b class="col">Payment:</b> <div class="col col-66">{{orderDetail.info.payment}}</div>
		</div>
		<div class="row row-no-padding padding-bottom">
			<b class="col">Ship To:</b> <div class="col col-66">{{orderDetail.info.shipto}}</div>
		</div>
		<div class="row row-no-padding padding-bottom">
			<b class="col">Bill To:</b> <div class="col col-66">{{orderDetail.info.billto}}</div>
		</div>
		<div class="row row-no-padding padding-bottom">
			<b class="col">Shipping:</b> <div class="col col-66">{{orderDetail.info.shipping | currency}} ({{orderDetail.info.shiptime}})</div>
		</div>
	</div>
	</div>
	<div class="text-right"><b>Total:</b> <span class="assertive">{{orderDetail.info.total | currency}}</span></div>
</ion-content>
<ion-footer-bar class="no-padding" ng-if="orderDetail.pending">
	<button class="button button-full no-margin button-energized" ng-click="cancelOrder('{{orderDetail.id}}')">CANCEL</button>
</ion-footer-bar>
</ion-view>