<ion-view title="Forgot Password">
<link href="css/sign.css" rel="stylesheet" type="text/css" />
<ion-content class="padding text-center">
	<span>Let’s reset your password</span>
	<div class="list padding-top sign-form no-margin">
	  <label class="item item-input">
		<input type="text" placeholder="Email" ng-model="data.email">
	  </label>
	</div>
	<button class="button button-positive button-block no-margin" ng-click="resetPassword()">
		<span>Reset Password</span>
	</button>
</ion-content>
</ion-view>