<ion-view hide-nav-bar="true">
<link href="css/sign.css" rel="stylesheet" type="text/css" />
<ion-content scroll="false" class="bg-full welcome-content row row-center">
	<div class="margin-auto text-center welcome-main padding">
		<img src="css/img/logo.png" class="margin-auto" width="126px">
		<span>Shopping Made Fun </span>
		<div class="padding-20"></div>
		<button class="button sign-button-calm button-block" ui-sref="app.createAccount">Create Account</button>
		<button class="button sign-button-calm button-block no-margin" ui-sref="app.signin">Sign In</button>
	</div>
</ion-content>
</ion-view>