.header-menu .bar-header{background:#11c1f3}
.header-menu .nav-bar-title{
	display:block;
	vertical-align:middle
}

.home-main .tabs{
	border-bottom:1px solid #11c1f3;
	background-image:none;
}
.home-main .tabs a.tab-item{
	font-size:12px;
	line-height:50px
}
.home-main .tabs a.tab-item.tab-item-active{border-bottom:5px solid #fff}

.latest-filter{background:#e1e1e1}
.latest-filter .button{
	background:#d1d1d1;
	margin:0 10px
}
.latest-main .latest-item{
	width:140px;
	height:180px;
	overflow:hidden;
	font-size:90%;
	line-height:17px
}
.latest-main .latest-item>img{
	width:140px;
	height:140px
}
.latest-main .item-price{
	color:#000;
	font-size:120%
}
.latest-main .item-price.has-sale{
	color:#898989;
	font-size:100%;
	text-decoration:line-through
}
.latest-main .item-note{
	top:0;
	left:0;
	text-align:center;
	overflow:visible
}
.latest-main .item-hour{
	background:#ff9702;
	padding:3px 0
}
.latest-main .item-sale{
	width:66.6px;
	height:35px;
	line-height:45px;
	background-image:url(img/arrow.png);
	transform:rotate(-45deg);
	margin-top:-6px;
	margin-left:-22px
}
.latest-menu-right{
	position:fixed;
	top:0;
	left:0;
	padding-top:93px;
	overflow:hidden
}
.menu-right-bg{
	background:rgba(0,0,0,0.4);
	z-index:-1
}
.menu-right-main{
	width:200px;
	background:#fff;
}
.home-refine .button-clear.button-clear{color:#000}