<ion-view title="Shopping Cart">
<link href="css/shopping.css" rel="stylesheet" type="text/css">
<ion-content class="shopping-main" scroll="false" ng-class="{'has-footer':!ShipTo && !payment}">
<ion-scroll class="height-100">
	<div class="row">
		<div class="col"><b>Ship To</b></div>
		<div class="col text-right">
			<div>{{shopping.shipto}}</div>
			<u ng-click="openShipTo()">edit</u>
		</div>
	</div>
	<div class="row">
		<div class="col"><b>Bill To</b></div>
		<div class="col text-right">
			<div>{{shopping.billto}}</div>
			<u ng-click="openPayment()">edit</u>
		</div>
	</div>
	<div class="row">
		<div class="col"><b>Item Total</b></div>
		<div class="col text-right">{{shopping.total | currency}}</div>
	</div>
	<div class="row">
		<div class="col"><b>Estimated Shipping</b></div>
		<div class="col text-right">{{shopping.shipping | currency}}</div>
	</div>
	<div class="row">
		<div class="col"><b>Order Total</b></div>
		<div class="col text-right"><b>{{shopping.total+shopping.shipping | currency}}</b></div>
	</div>
	<div class="list shopping-list padding">
		<div ng-repeat="item in shopping.item" class="item item-thumbnail-left item-text-wrap">
			<img src="img/shopping/{{item.id}}.jpg">
			<b>{{item.name}}</b>
			<div><b>Size</b>: {{item.size}}</div>
			<div><b>Color</b>: {{item.color}}</div>
			<div><b>Quantily</b>: {{item.quantily}}</div>
			<div class="row row-no-padding">
				<b class="margin-right">Shipping:</b>
				<div class="col col-66">
					{{item.shipping | currency}}
					<p>{{item.shiptime}}</p>
				</div>
			</div>
			<div>
				<span class="list-price" ng-class="{'has-sale':item.sale}">{{item.price | currency}}</span>
				<span class="list-price" ng-show="item.sale">{{item.sale | currency}}</span>
			</div>
			<div class="text-right">
				<u class="padding-horizontal" ng-click="showRemove()">remove</u>
				<u class="padding-horizontal" ng-click="showPopupQuantily()">edit</u>
			</div>
		</div>
	</div>
</ion-scroll>
<div ng-show="ShipTo" class="shopping-shipto absolute-footer width-100" ng-include="'templates/shopping/shipto.html'"></div>
<div ng-show="payment" class="shopping-payment absolute-full" ng-include="'templates/shopping/payment.html'"></div>
</ion-content>
<ion-footer-bar ng-if="!ShipTo && !payment" class="no-padding">
	<button class="button button-full no-margin button-energized" ng-click="placeOrder()">PLACE ORDER</button>
</ion-footer-bar>
</ion-view>